*, *::after, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;

    @media screen and (max-width: 75em) {
        font-size: 50%;
    }
    @media screen and (max-width: 55em) {
        font-size: 40%;
    }
    @media screen and (max-width: 40em) {
        font-size: 30%;
    }
    @media screen and (max-width: 20em) {
        font-size: 25%;
    }
}

body {
    line-height: 1;
    margin: 5rem;
    @media screen and (max-width: 40em) {
        margin: 0rem;
    }
}
