$font-one : 'Inter', 'sans-serif';

@import url('https://fonts.googleapis.com/css2?family=Inter');



.header {
    font-family: $font-one;
}

.feature {
    font-family: $font-one; 
    &__title {
        font-size: 2.5rem;
        font-family: $font-one; 
    }
    &__lead {
        font-size: 2.8rem;
        @media screen and (max-width: 64em) {
            font-size: 2.5rem;
        }
        @media screen and (max-width: 50em) {
            font-size: 3rem;
        }
    }
    &__paragraph {
        font-size: 1.6rem;
        line-height: 2.8rem;
        @media screen and (max-width: 64em) {
            font-size: 2.2rem;
        }
        @media screen and (max-width: 50em) {
            font-size: 2.8rem;
            line-height: 3.6rem;
        }
    }
    &__button {
        font-size: 1.6rem;
        @media screen and (max-width: 64em) {
            font-size: 2.2rem;
        }
        @media screen and (max-width: 50em) {
            font-size: 2.8rem;
            line-height: 3.6rem;
        }
    }
}

.recent {
    font-family: $font-one;
    &__title {
        font-size: 2.5rem;
        font-family: $font-one; 
    }
    
}

.footer {
    h3 {
       // font-size: 2.4rem;
        margin-bottom: 1rem;
    }
}